header {
    width: auto;
    height: 250px;
    animation: colorFade 5s infinite;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #000;
    border-radius: 8px;
}

@keyframes colorFade {
    0% {
        background-color: #f06595;
    }
    50% {
        background-color: #b14c4c;
    }
    100% {
        background-color: blue;
    }
}

h1 {
    font-size: 75px ;
}

h2 {
   text-decoration: underline; 
}

body {
    background-color: #000;
}

.moods {
    display: flex;
    flex-flow: column wrap;
    color: azure;
    align-items: center;
    margin-left: 68px;
    margin-top: 68px;
    width: 450px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: auto;
    transition: transform 0.3s ease;
    background-color:#000;
}

#container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 1750px;

}

#moodsList {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.moods__image {
    display: flex;
    justify-content: center;
    width: 220px;
    height: 220px;

}

.moods__name {
    display: flex;
    justify-content: center;
    animation: colorFade 5s infinite;
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3); 
}

h4 {
    text-align: left;
}

.mood__quotes {
    
    padding: 0; 
    margin: 0; 
}

.mood__quote {
    padding: 5px; 
    font-style: italic; 
    text-align: center;
}

.advice__container {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, red , rgb(33, 4, 100));
    height: 162px;
    width: fit-content;
    padding: 2px;
    margin-top: 20px;
    border-radius: 8px ;
}